
/*LOGO*/
.logo {
    height: 3.25rem;
    margin-left: 3rem;
}



/*SEARCH*/
.search{
    /* background-color: orangered; */
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;


}
.search__input{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all .2s;
    margin-right: -3.5rem;


}
.search__input:focus{
    outline: none;
    width: 100%;
    background-color: var(--color-grey-light-3);

}

.search__button::-webkit-input-placeholder {
    font-weight: 100;
    color: var(--color-grey-light-4);
}

.search__button {
    border: none;
    background-color: var(--color-grey-light-2);

}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);

}

.search__input:focus .search__button {
    background-color: var(--color-grey-light-3);

}

.search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3);
    
}


/*USER NAVIGATION*/
.user-nav {
    background-color: greenyellow;
    align-self: flex-end;

}
.user-nav__icon-box{

}

.user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
}
.user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
}
.user-nav__notification{

}
.user-nav__user{

}