:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --line: 1px solid var(--color-grey-light-2);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.6);
}

* {
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  /* 1rem = 10px so 10px/16px = 62.5% (0.625) */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-light)
  );
}

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  background-color: #fff;
  flex: 1;
}
.detail {
  font-size: 1.4rem;
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  /* box-shadow: var(--shadow-light); */
  padding: 3rem;
  flex: 0 0 60%;
  margin-right: 4.5rem;
}

.user-reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}






/* MEDIA QUERIES */

/* Styles for devices with a maximum width of 1200 pixels */
@media screen and (max-width: 75em) {
    .container {
        margin: 0 0;
        max-width: 100%;
        width: 100%;
    }
}

/* 1100px */
@media screen and (max-width: 68.5em) {
    .html {
        font-size: 50%;
    }
}

/* 900px */
@media screen and (max-width: 56.25em) {
    .content {
        flex-direction: column;
    }
    .side-nav {
        display: flex;
        margin: 0;
    }
    .side-nav__item {
        flex: 1;
    }
    .side-nav__item:not(:last-child){
        margin-bottom: 0;
    }
    .side-nav__link:link,
    .side-nav__link:visited {
        justify-content: center;
        padding: 2rem;
    }
    .legal {
        display: none;
    }

    .detail {
        padding: 3rem;
    }
    .description {
        padding: 2rem;
        margin-right: 3rem;
    }
    .review{
        padding: 2rem;
        margin-bottom: 3rem;
    }

    .cta {
        padding: 2.5rem 0;
    }



}



/* 600px */
@media screen and (max-width: 37.5em) {
    .detail {
        flex-direction: column;
    }
    .description {
        margin-right: 0;
        margin-bottom: 3rem;
    }

    .side-nav__link:link,
    .side-nav__link:visited{
        flex-direction: column;
        padding: 1.5rem 0.5rem;
    }
    .side-nav__icon {
        margin-right: 0;
        width: 1.5rem;
        height: 1.5rem;
        margin-bottom: 0.7rem;
    }

    .overview__heading {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
    }
    .overview__rating {
        padding: 0 1.5rem;
    }
    .overview__rating-average{
        font-size: 1.8rem;
    }

    .overview__rating-count{
        font-size: .5rem;
    }
}


/* 500px */
@media screen and (max-width: 31.25em) {
    .header{
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
    }
    .search{
        order: 1;
        flex: 0 0 100%;
        background-color: var(--color-grey-light-2);   
    }
}